<div class="input-group col-sm-16">
    <div class="input-group-addon">
        <span>{{'funds.deposit_coin.address' | t}}</span>
    </div>
    <input type="text" class="form-control form-control-static" value={{account.deposit_address}} id="deposit_address">
    <div class="input-group-addon" id="deposit_address_data" onclick="copyAddress()">
        <i  class="fa fa-copy" data-clipboard-text="{{account.deposit_address}}"></i>
    </div>

    <div class="input-group-addon"><span class="countdown hint" style="display:none;">...</span>
        <a id="new_address" ng-click="genAddress(deposit_channel.resource_name); $event.preventDefault()" href="#">
            {{"funds.deposit_coin.new_address" | t}}</a>
    </div>
</div>

<script type="text/javascript">
    function copyAddress() {
        let copyText = document.getElementById('deposit_address');
        copyText.select();
        document.execCommand('copy');
    }
</script>
